/* Estilos CSS para a página */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
header {
  background-color: #71c98b; /* Cor da empresa */
  color: #fff;
  padding: 20px;
  text-align: center;
}
h1 {
  font-size: 36px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.sensor-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Define 3 colunas com larguras iguais */
  gap: 20px; /* Espaço entre os cards */
}
.sensor-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column; /* Alinhar elementos verticalmente */
  align-items: center; /* Centralizar horizontalmente */
  padding: 20px;
}
.sensor-image {
  max-width: 100%;
  height: auto;
}
.sensor-text {
  margin-top: auto; /* Alinha o texto na parte inferior */
  text-align: center; /* Centraliza o texto horizontalmente */
}

footer {
  background-color: #71c98b; /* Cor da empresa */
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.footer-logo {
  max-height: 80px; /* Tamanho máximo pequeno para o logotipo */
}
.back-button {
  background-color: #71c98b;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}
.back-button:hover {
  background-color: #4a956d; /* Cor mais escura ao passar o mouse */
}
